body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 980px;    
    padding: 15px;
}
.register_logo{
    width: 100%;
    height: 100%;
    margin-bottom: 10px
}
.register_form{
    border: 1px solid #ebebeb;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn_signin{
    background: #ded8bf;
    color: black;
    border: 0.5px solid #e3dfcc;
    border-radius: 5px;
    margin-top: 20px;
}
.register_here{
    text-decoration: none;
}
.register_here:hover{
    color: orange;
}
.login_here{
    text-decoration: none;
}
.login_here:hover{
    color: orange;
}